<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Troca</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding="true" class="has-header">
    <img src="{{troca.fotos[0]}}"/>
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
    <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <div class="show-list-numbers-and-dots">
        <p style="color:#777;">Benefícios:</p>
        <ul>
            <li *ngFor="let beneficio of troca.beneficios">{{ beneficio }}</li>
        </ul>
    </div>
    <p style="color:#777;">Em troca de:</p> {{ troca.necessidade }}
    <p style="color:#777;">Solicitante:</p> {{ troca.solicitante.nome }}
    <div class="show-list-numbers-and-dots">
    <p style="color:#777;">Condições:</p>
    <ul>
        <li *ngFor="let condicao of troca.condicoes">{{ condicao }}</li>
    </ul>
    </div>
    <div class="show-list-numbers-and-dots">
    <p style="color:#777;">Tipo:</p>
    <ul>
        <li *ngFor="let tipo of troca.tipos">{{ tipo }}</li>
    </ul>
    </div>
    <div class="show-list-numbers-and-dots">
    <p>{{ troca.local.endereco }}</p>
    <p>{{ troca.distancia }} de você</p>
    </div>
    <button class="button button-stable button-block">Abrir endereço no mapa</button>
    <button class="button button-balanced button-block">Aceitar troca</button>
</ion-content>